@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen CRUD-MVC Distribuidoras-Videojuegos</h1>
    <h3 class="display-4">Jordi Cahuasqui</h3>
    <p>CRUD de videojuegos, este CRUD de videojuegos con un combobox para seleccionar la distribuidora proporciona una interfaz intuitiva y eficiente para administrar y gestionar la información de los videojuegos almacenados en el sistema, permitiendo a los usuarios realizar fácilmente acciones de creación, lectura, actualización y eliminación de registros." </p>
    <img style="width: 800px" src="https://www.rolagames.com/images/features2021.jpg" alt="Videojuegos"   />
</div>
